.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #908db8;
}

.website-logo {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-left: 100px;
}

.header-list-items {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-right: 125px;
}

.home {
  color: white;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}

.logout-button {
  padding: 10px;
  border-radius: 6px;
  color: #40a8c5;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  margin-right: 55px;
  width: 110px;
}
.jon-heading {
  margin-left: 40px;
}
.link-item {
  text-decoration: none;
}
